node-red.json
[{"id":"6661e422.b732ac","type":"tab","label":"LOGIN","disabled":false,"info":""},{"id":"a6b58a7d.1182a8","type":"tab","label":"APP","disabled":false,"info":""},{"id":"2da40f61.e98a2","type":"ui_group","z":"","name":"LOGIN","tab":"b7167ac6.c99118","order":1,"disp":false,"width":"6","collapse":false},{"id":"b7167ac6.c99118","type":"ui_tab","z":"","name":"LOGIN","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"14ed8d3d.ac4643","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f5d2098f.314968","type":"ui_tab","z":"","name":"APP","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1ff74439.7d832c","type":"ui_group","z":"","name":"Default","tab":"f5d2098f.314968","disp":true,"width":"6","collapse":false},{"id":"55404c82.3892f4","type":"ui_group","z":"","name":"Signin","tab":"b2e9b78b.6d0048","order":1,"disp":true,"width":"6","collapse":false},{"id":"170a0964.df0f47","type":"ui_group","z":"","name":"SensorData","tab":"b2e9b78b.6d0048","order":2,"disp":true,"width":"6","collapse":false},{"id":"606c7044.ebbc9","type":"ui_group","z":"","name":"History","tab":"b2e9b78b.6d0048","order":3,"disp":true,"width":"6","collapse":false},{"id":"b2e9b78b.6d0048","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"dbe265c6.21e6a8","type":"ui_group","z":"","name":"LOGIN","tab":"14fdf953.e74e87","order":1,"disp":false,"width":"6","collapse":false},{"id":"14fdf953.e74e87","type":"ui_tab","z":"","name":"LOGIN","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d4bc27cd.fd62d8","type":"ui_text","z":"a6b58a7d.1182a8","group":"1ff74439.7d832c","order":1,"width":0,"height":0,"name":"","label":"timestamp","format":"{{msg.payload}}","layout":"row-spread","x":452.5,"y":129,"wires":[]},{"id":"eec863a4.b964","type":"ui_button","z":"a6b58a7d.1182a8","name":"","group":"1ff74439.7d832c","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":96.5,"y":127,"wires":[["85a5e2d1.c1e61"]]},{"id":"85a5e2d1.c1e61","type":"function","z":"a6b58a7d.1182a8","name":"","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":129,"wires":[["d4bc27cd.fd62d8"]]},{"id":"91f418c.f855de8","type":"ui_ui_control","z":"6661e422.b732ac","name":"","events":"all","x":1320,"y":540,"wires":[[]]},{"id":"c60909b8.117628","type":"switch","z":"6661e422.b732ac","name":"invalid socketid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"invalid socketid","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":960,"y":540,"wires":[["3941ebed.7646e4"]]},{"id":"3941ebed.7646e4","type":"change","z":"6661e422.b732ac","name":"goto LOGIN","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"LOGIN\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":540,"wires":[["91f418c.f855de8"]]},{"id":"6e12a723.4662f8","type":"function","z":"6661e422.b732ac","name":"store socketid","func":"socketIds = global.get(\"socketids\");\nmsg.log=[];\nif (typeof socketIds == 'undefined') {\n    socketIds = [];\n    msg.log.push(\"no socketids so far\");\n} \nfound = 0;\nfor (i=0; i<socketIds.length; i++) {\n        msg.log.push(\"socketid:\" + msg.socketid);\n    if (socketIds[i] == msg.socketid) {\n        msg.log.push(\"found\");\n        found = 1; break;\n\n    }\n}\nif (found === 0) { // new socketid\n    msg.log.push(\"add socketid \" + msg.socketid + \" to list\");\n    socketIds.push(msg.socketid);\n    global.set(\"socketids\",socketIds);\n}\nmsg.allsocketids = socketIds;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":320,"wires":[["a0045720.55e798","34fb46d9.09e3fa","88cd6749.873188"]]},{"id":"41ec122e.3cfe8c","type":"function","z":"6661e422.b732ac","name":"check socketid","func":"socketIds = global.get(\"socketids\");\nrc = \"invalid socketid\"\nif (typeof socketIds != 'undefined') {\n    for (i=0; i<socketIds.length; i++) {\n        if (msg.socketid == socketIds[i]) {\n             rc = \"valid socketid\";\n             break;\n        }\n    }\n}\nmsg.payload = rc;\nmsg.socketids = socketIds;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["c60909b8.117628","44eb2a0d.da4504"]]},{"id":"a0045720.55e798","type":"change","z":"6661e422.b732ac","name":"goto APP","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"APP\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":320,"wires":[["e260c407.2f8308","77dcaa39.dac7a4"]]},{"id":"e260c407.2f8308","type":"ui_ui_control","z":"6661e422.b732ac","name":"","events":"all","x":1700,"y":320,"wires":[[]]},{"id":"44eb2a0d.da4504","type":"debug","z":"6661e422.b732ac","name":"check socketid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":600,"wires":[]},{"id":"8f246653.d091a8","type":"ui_text_input","z":"6661e422.b732ac","name":"","label":"User","tooltip":"","group":"dbe265c6.21e6a8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":610,"y":180,"wires":[["acb2cb43.b56218","2dc7a281.c7f8fe"]]},{"id":"a91980c6.04393","type":"ui_text_input","z":"6661e422.b732ac","name":"","label":"Password","tooltip":"","group":"dbe265c6.21e6a8","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"","x":620,"y":240,"wires":[["189ed398.806a1c","5e1e2be3.15f0e4"]]},{"id":"9b881f7b.d04d9","type":"inject","z":"6661e422.b732ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":80,"wires":[["72e33281.72856c","e3b8aadf.b0c1a8"]]},{"id":"72e33281.72856c","type":"change","z":"6661e422.b732ac","name":"","rules":[{"t":"set","p":"users","pt":"global","to":"[{\"name\":\"usr\",\"password\":\"pwd\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":80,"wires":[[]]},{"id":"7fe0f52d.9777fc","type":"function","z":"6661e422.b732ac","name":"check user/pw","func":"users = global.get(\"users\");\n\nlogin_user = global.get(\"login_user\");\nif (typeof login_user == 'undefined') {\n    return null; // no user entered\n} \n\nlogin_password = global.get(\"login_password\");\nif (typeof login_password == 'undefined') {\n    return null; // no password entered\n} \n\n\n\nfor (i=0; i<users.length; i++ ) {\n    if (login_user == users[i].name) {\n        if (login_password == users[i].password) {\n            // correct password, store socketid\n            \n            users[i].socketid = msg.socketid; \n            var ts = new Date();\n            users[i].login_time = ts.toLocaleString(); \n            \n            msg.users = users;\n            global.set(\"users\",users);\n            msg.payload=\"correct pw\" ;\n            return msg;\n        } else {\n            msg.payload=\"Incorrect Password\" ;\n            return msg; // wrong password\n        }\n\n    }\n}\nmsg.payload=\"User Not Found\" ;\nreturn msg;\n","outputs":1,"noerr":0,"x":1000,"y":320,"wires":[["7523a782.aaa6d8","4bfb6a6.5667294"]]},{"id":"acb2cb43.b56218","type":"change","z":"6661e422.b732ac","name":"","rules":[{"t":"set","p":"login_user","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":180,"wires":[[]]},{"id":"189ed398.806a1c","type":"debug","z":"6661e422.b732ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":280,"wires":[]},{"id":"7523a782.aaa6d8","type":"debug","z":"6661e422.b732ac","name":"correct user/pwd","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1290,"y":240,"wires":[]},{"id":"2dc7a281.c7f8fe","type":"debug","z":"6661e422.b732ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":120,"wires":[]},{"id":"34fb46d9.09e3fa","type":"change","z":"6661e422.b732ac","name":"","rules":[{"t":"set","p":"login_user","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":220,"wires":[[]]},{"id":"9bdf3d06.2bcc5","type":"ui_button","z":"6661e422.b732ac","name":"","group":"dbe265c6.21e6a8","order":3,"width":0,"height":0,"passthru":false,"label":"LOGIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":320,"wires":[["7fe0f52d.9777fc"]]},{"id":"5e1e2be3.15f0e4","type":"change","z":"6661e422.b732ac","name":"","rules":[{"t":"set","p":"login_password","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":240,"wires":[[]]},{"id":"40f0a70b.22b588","type":"ui_ui_control","z":"6661e422.b732ac","name":"","events":"all","x":100,"y":400,"wires":[["c75e026.2a517"]]},{"id":"c75e026.2a517","type":"switch","z":"6661e422.b732ac","name":"change event?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[["7ee73665.45c6d8"]]},{"id":"7ee73665.45c6d8","type":"switch","z":"6661e422.b732ac","name":"LOGIN page opened","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"LOGIN","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":400,"wires":[["28f538b5.a6ba08"],["41ec122e.3cfe8c"]]},{"id":"28f538b5.a6ba08","type":"change","z":"6661e422.b732ac","name":"delete user/pw","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":200,"wires":[["8f246653.d091a8","a91980c6.04393","f853cd97.c2d47"]]},{"id":"4bfb6a6.5667294","type":"switch","z":"6661e422.b732ac","name":"login ok?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"correct pw","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1180,"y":320,"wires":[["6e12a723.4662f8"],["f853cd97.c2d47"]]},{"id":"88cd6749.873188","type":"debug","z":"6661e422.b732ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1550,"y":380,"wires":[]},{"id":"e3b8aadf.b0c1a8","type":"change","z":"6661e422.b732ac","name":"","rules":[{"t":"delete","p":"socketids","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[[]]},{"id":"77dcaa39.dac7a4","type":"link out","z":"6661e422.b732ac","name":"login successful","links":["696839c2.7b4c08","c7c924e1.c0d178"],"x":1655,"y":280,"wires":[]},{"id":"f35882ce.86378","type":"inject","z":"6661e422.b732ac","name":"reset login/delete valid socketids","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":1020,"y":440,"wires":[["c0d6c288.e4794"]]},{"id":"c0d6c288.e4794","type":"change","z":"6661e422.b732ac","name":"","rules":[{"t":"delete","p":"socketids","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":440,"wires":[[]]},{"id":"f853cd97.c2d47","type":"ui_text","z":"6661e422.b732ac","group":"dbe265c6.21e6a8","order":3,"width":0,"height":0,"name":"error message","label":"","format":"{{msg.payload}}","layout":"row-center","x":1330,"y":380,"wires":[]}]
